<h1 class="animated fadeIn fast">DC Heroes</h1>
<hr>
<p class="fadeIn">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae culpa animi perspiciatis quidem, laborum, ut tempore autem perferendis nisi voluptatum voluptatem incidunt deleniti voluptas cum repellendus inventore similique cumque quia.
</p>
<p class="fadeIn">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae culpa animi perspiciatis quidem, laborum, ut tempore autem perferendis nisi voluptatum voluptatem incidunt deleniti voluptas cum repellendus inventore similique cumque quia.
</p>
