<h1 class="animated fadeIn fast">DC Heroes</h1>
<hr>
<p class="fadeIn text-justify">
    DC Comics es una web donde podrás conocer los principales héroes del Universo DC.

</p>
<p class="fadeIn text-justify">
    Han pasado 80 años desde que Superman debutó por primera vez en las páginas de Action Comics #1. Desde entonces, DC ha generado miles de héroes y villanos en innumerables cómics, series de televisión, películas y videojuegos. Pero a pesar de todo, unos
    pocos seleccionados han emergido como los mejores de los mejores.

</p>

<p class="fadeIn text-justify">
    Puedes realizar una búsqueda desde el menú de navegación y encontrar a tus héroes favoritos.
</p>
