<h1>Resultados: <small>{{ search }}</small> </h1>
<hr>

<div *ngIf="heroes.length > 0" class="card-columns">
    <!-- <app-hero-tarjeta [heroe]="foo" [index]="i" *ngFor="let foo of heroes; let i = index"></app-hero-tarjeta> -->
    <app-hero-tarjeta [heroe]="foo" [index]="foo.index" *ngFor="let foo of heroes"></app-hero-tarjeta>

</div>

<div *ngIf="heroes.length == 0">
    <div class="animated fadeIn fast">
        <p class="alert alert-warning">Ningún personaje coincide con la búsqueda</p>

        <a [routerLink]="['/heroes']" class="btn btn-outline-primary">Volver</a>
    </div>
</div>
